{% extends "__layout.njk" %}

{% block Link %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}

{% block Header %}
{% endblock %}

{% block Content %}
	<div class="content-grid">
		<div class="content-grid__left">
			<main>
				<div class="post-inner">
					<div class="center-container">
						<div class="post-title-row">
							<a href="#" class="md-category md-category--no-absolute">Общество</a>
							<span class="sm-text-info date">02.02.2021</span>
							<span class="sm-text-info time">09:41</span>
						</div>
					</div>
					<div class="center-container">
						<div class="row-main-title">
							<h3 class="title-main-page">Уникальная для России парусная регата финишировала в Сочи</h3>
							<span class="author">Автор: <a href="#">Новиков В.</a></span>
						</div>
					</div>
					<div class="center-container">
						<div class="post-inner__area">
							<p>Всероссийские соревнования по парусному спорту «Зимняя Ривьера» проходили с 23 по 27 февраля в акватории ФГБУ «Юг Спорт».</p>
							<div>
								<div class="wrap-video">
									<video data-video>
										<source src="video/fish-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
									</video>
									<div class="wrap-icon-play">
										<svg data-play-video viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
											<circle cx="40" cy="40" r="40"/>
											<path d="M53 40L33.5 51.2583L33.5 28.7417L53 40Z"/>
										</svg>
									</div>
								</div>
								<span>Всероссийская парусная регата «Зимняя Ривьера» является этапом зимней подготовки российских яхтсменов. Фото: ФГБУ «Юг Спорт»</span>
							</div>
							<p>Между собой состязались более 200 лучших яхтсменов из самых удаленных мест РФ – от Комсомольска-на-Амуре до Калининграда. Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<p>Специалисты обращают внимание, что «Зимняя Ривьера» – единственная в России регата, которая проходит в это время года. Такие соревнования может принимать только Сочи из-за субтропического климата.</p>
							<p>Состязания проводились в семи олимпийских классах яхт и в шести юношеских. В Сочи приехали 200 спортсменов из 22 регионов страны. Свое мастерство продемонстрировали победители и призеры всероссийских соревнований.</p>
							<div>
								<div class="wrap-video">
									<video data-video>
										<source src="video/fish-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
									</video>
									<div class="wrap-icon-play">
										<svg data-play-video viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
											<circle cx="40" cy="40" r="40"/>
											<path d="M53 40L33.5 51.2583L33.5 28.7417L53 40Z"/>
										</svg>
									</div>
								</div>
								<span>Всероссийская парусная регата «Зимняя Ривьера» является этапом зимней подготовки российских яхтсменов. Фото: ФГБУ «Юг Спорт»</span>
							</div>
							<p>Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<p>Специалисты <a href="#">обращают внимание</a>, что «Зимняя Ривьера» – <b>единственная в России регата</b>, которая проходит в это время года. Такие соревнования может принимать только Сочи из-за субтропического климата.</p>
							<h4>Состязания проводились в семи олимпийских классах яхт и в шести юношеских</h4>
							<p>Состязания проводились в семи олимпийских классах яхт и в шести юношеских. В Сочи приехали 200 спортсменов из 22 регионов страны. Свое мастерство продемонстрировали победители и призеры всероссийских соревнований.</p>
							<div class="gallery-slider">
								<div class="gallery-slider__block">
									<div class="gallery-slider__container swiper-container">
										<div class="gallery-slider__wrapper swiper-wrapper">
											<div class="gallery-slider__slide swiper-slide">
												<picture>
													<source srcset="img/gallery-slide1.webp" type="image/webp" />
													<source srcset="img/gallery-slide1.jpg" type="image/jpg" />
													<img src="img/gallery-slide1.webp" alt="" />
												</picture>
											</div>
											<div class="gallery-slider__slide swiper-slide">
												<picture>
													<source srcset="img/gallery-slide1.webp" type="image/webp" />
													<source srcset="img/gallery-slide1.jpg" type="image/jpg" />
													<img src="img/gallery-slide1.webp" alt="" />
												</picture>
											</div>
											<div class="gallery-slider__slide swiper-slide">
												<picture>
													<source srcset="img/gallery-slide1.webp" type="image/webp" />
													<source srcset="img/gallery-slide1.jpg" type="image/jpg" />
													<img src="img/gallery-slide1.webp" alt="" />
												</picture>
											</div>
										</div>
									</div>
									<div class="gallery-slider__arrow gallery-slider__arrow--prev">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-slider"></use>
										</svg>
									</div>
									<div class="gallery-slider__arrow gallery-slider__arrow--next">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-slider"></use>
										</svg>
									</div>
								</div>
								<div class="gallery-slider__fraction"></div>
							</div>
							<div class="wrap-list">
								<h5>Заголовок маркированного списка:</h5>
								<ul>
									<li>Практически все сильнейшие спортсмены края участвовали в наших соревнованиях, – говорит главный судья соревнований Алексей Ганженко.</li>
									<li>Эти соревнования являются одним из этапов Кубка России. По результатам трех этапов победители получат звания обладателя Кубка России.</li>
									<li>О том, как стартовала Всероссийская парусная регата «Зимняя Ривьера», уже писали «Кубанские новости».</li>
								</ul>
							</div>
							<p>Между собой состязались более 200 лучших яхтсменов из самых удаленных мест РФ – от Комсомольска-на-Амуре до Калининграда. Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<h5>Специалисты обращают внимание:</h5>
							<p>что «Зимняя Ривьера» – единственная в России регата, которая проходит в это время года. Такие соревнования может принимать только Сочи из-за субтропического климата.</p>
							<p>Состязания проводились в семи олимпийских классах яхт и в шести юношеских. В Сочи приехали 200 спортсменов из 22 регионов страны. Свое мастерство продемонстрировали победители и призеры всероссийских соревнований.</p>
							<div class="wrap-show">
								<img src="img/sm-imgad1-mob.jpg" alt="">
							</div>
							<p>Между собой состязались более 200 лучших яхтсменов из самых удаленных мест РФ – от Комсомольска-на-Амуре до Калининграда. Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<p>Специалисты обращают внимание, что «Зимняя Ривьера» – единственная в России регата, которая проходит в это время года. Такие соревнования может принимать только Сочи из-за субтропического климата.</p>
							<div class="wrap-list">
								<h5>Заголовок нумерованного списка:</h5>
								<ol>
									<li>Практически все сильнейшие спортсмены края участвовали в наших соревнованиях, – говорит главный судья соревнований Алексей Ганженко.</li>
									<li>Эти соревнования являются одним из этапов Кубка России. По результатам трех этапов победители получат звания обладателя Кубка России.</li>
									<li>О том, как стартовала Всероссийская парусная регата «Зимняя Ривьера», уже писали «Кубанские новости».</li>
								</ol>
							</div>
							<p>Между собой состязались более 200 лучших яхтсменов из самых удаленных мест РФ – от Комсомольска-на-Амуре до Калининграда. Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<blockquote>В матче 6-го тура группового этапа Лиги чемпионов «Краснодар» в Лондоне сыграл с «Челси» со счетом 1:1. Работа проводится в рамках единой концепции решения проблем с водоснабжением курорта, которую разработали по поручению губернатора Кубани Вениамина Кондратьева.</blockquote>
							<div class="wrap-show">
								<img src="img/sm-imgad1-mob.jpg" alt="">
							</div>
							<p>Между собой состязались более 200 лучших яхтсменов из самых удаленных мест РФ – от Комсомольска-на-Амуре до Калининграда. Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<p>Специалисты обращают внимание, что «Зимняя Ривьера» – единственная в России регата, которая проходит в это время года. Такие соревнования может принимать только Сочи из-за субтропического климата.</p>
							<p>Состязания проводились в семи олимпийских классах яхт и в шести юношеских. В Сочи приехали 200 спортсменов из 22 регионов страны. Свое мастерство продемонстрировали победители и призеры всероссийских соревнований.</p>
							<q>Глава региона поручил краевому минтрансу подготовить к лету 2021 года предложения по созданию структуры по работе с эвакуацией транспортных средств. Городской бюджет за все семь лет сотрудничества с ООО «Городские парковки» получил всего 45 млн рублей, что в несколько раз меньше ожидаемого.
								<cite>Иван Усть-Константинопольский</cite>
							</q>
							<p>Между собой состязались более 200 лучших яхтсменов из самых удаленных мест РФ – от Комсомольска-на-Амуре до Калининграда. Среди триумфаторов и призеров есть спортсмены, представлявшие олимпийскую столицу. Например, сочинка Алиса Репецкая в экипаже с Марией Струк заняла третье место среди девушек.</p>
							<p>Специалисты обращают внимание, что «Зимняя Ривьера» – единственная в России регата, которая проходит в это время года. Такие соревнования может принимать только Сочи из-за субтропического климата.</p>
							<p>Состязания проводились в семи олимпийских классах яхт и в шести юношеских. В Сочи приехали 200 спортсменов из 22 регионов страны. Свое мастерство продемонстрировали победители и призеры всероссийских соревнований.</p>
						</div>
						<div class="post-down">
							<div class="post-down__up">
								<span class="post-down__caption">Читать новости Краснодарского края в</span>
								<div class="post-down__flex">
									<a href="#" class="block-portal">
										<img src="img/portal-icon1.png" alt="">
										<img src="img/portal-logo1.png" alt="">
										<span>Новости</span>
									</a>
									<a href="#" class="block-portal">
										<img src="img/portal-icon2.png" alt="">
										<img src="img/portal-logo2.png" alt="">
										<span>Новости</span>
									</a>
								</div>
							</div>
							<div class="post-down__middle">
								<ul class="social-list">
									<li class="social-list__item">
										<a class="social-list__link" href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--vk"></use>
											</svg>
										</a>
									</li>
									<li class="social-list__item">
										<a class="social-list__link" href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--fa"></use>
											</svg>
										</a>
									</li>
									<li class="social-list__item">
										<a class="social-list__link" href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--tw"></use>
											</svg>
										</a>
									</li>
									<li class="social-list__item">
										<a class="social-list__link" href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--od"></use>
											</svg>
										</a>
									</li>
									<li class="social-list__item">
										<a class="social-list__link" href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--in"></use>
											</svg>
										</a>
									</li>
									<li class="social-list__item">
										<a class="social-list__link" href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--te"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
							<div class="post-down__down">
								<span class="post-down__title">Теги</span>
								<div class="post-down__wrap-tags">
									<a href="#" class="tag"><span>Сочи</span></a>
									<a href="#" class="tag"><span>Краснодарский край</span></a>
									<a href="#" class="tag"><span>Спорт</span></a>
									<a href="#" class="tag"><span>Яхты</span></a>
									<a href="#" class="tag"><span>Регата</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</main>
		</div>
		<div class="content-grid__right">
			<div class="lg-wrap-show">
				<img src="img/mdshow1.jpg" alt="">
			</div>
		</div>
	</div>
{% endblock %}

{% block Scripts %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script>
	const swiper = new Swiper('.gallery-slider__container', {
		slidesPerView: 1,
		loop: true,
		spaceBetween: 0,
		navigation: {
			nextEl: '.gallery-slider__arrow--next',
			prevEl: '.gallery-slider__arrow--prev',
		},
		pagination: {
			el: ".gallery-slider__fraction",
			type: "fraction",
		},
	});
</script>
	
{% endblock %}