<section class="link-bloks-wrapper">
    <div class="container">
        <div class="link-bloks-wrapper__grid"><a class="link-blok" href="#">
                <div class="link-blok__wrap-img"><img src="img/logo-org1.png" alt="" /></div>
                <div class="link-blok__wrap-text">
                    <h4>Администрация</h4>
                    <p>Официальный сайт Администрации Краснодарского края</p>
                </div>
            </a><a class="link-blok" href="#">
                <div class="link-blok__wrap-img"><img src="img/logo-org2.png" alt="" /></div>
                <div class="link-blok__wrap-text">
                    <h4>Кубанский репортер</h4>
                    <p>Сайт Краснодарского краевого отделения Союза журналистов России</p>
                </div>
            </a></div>
    </div>
</section>
<section class="page-footer">
    <div class="container">
        <div class="page-footer__grid">
            <ul class="page-footer__list">
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Все новости</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Общество</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Власть</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Экономика</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Происшествия</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Спорт</span></a></li>
            </ul>
            <ul class="page-footer__list">
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Культура</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Фото</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Видео</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Туризм</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Сельское хозяйство</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Интересы</span></a></li>
            </ul>
            <ul class="page-footer__list">
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Спецпроекты</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Кубань 2000 — 2018</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Кубань. Формат успеха</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><img src="img/sm-icon.png" alt="" /><span>75-летие Победы!</span></a></li>
                <li class="page-footer__item"><a class="page-footer__link" href="#"><span>Я помню День Победы</span></a></li>
            </ul>
        </div>
        <div class="page-footer__row-grid">
            <div class="page-footer__wrap"><a class="tel" href="tel:+78612596027">+7 (861) 259-60-27</a><span class="adrees">350000, г. Краснодар, ул. Пашковская, 2</span></div>
            <ul class="social-list">
                <li class="social-list__item"><a class="social-list__link" href="#"><svg>
                            <use xlink:href="img/sprite.svg#svg--vk"></use>
                        </svg></a></li>
                <li class="social-list__item"><a class="social-list__link" href="#"><svg>
                            <use xlink:href="img/sprite.svg#svg--fa"></use>
                        </svg></a></li>
                <li class="social-list__item"><a class="social-list__link" href="#"><svg>
                            <use xlink:href="img/sprite.svg#svg--tw"></use>
                        </svg></a></li>
                <li class="social-list__item"><a class="social-list__link" href="#"><svg>
                            <use xlink:href="img/sprite.svg#svg--od"></use>
                        </svg></a></li>
                <li class="social-list__item"><a class="social-list__link" href="#"><svg>
                            <use xlink:href="img/sprite.svg#svg--in"></use>
                        </svg></a></li>
                <li class="social-list__item"><a class="social-list__link" href="#"><svg>
                            <use xlink:href="img/sprite.svg#svg--te"></use>
                        </svg></a></li>
            </ul>
        </div>
        <div class="page-footer__wrap-text">
            <div class="page-footer__row"><a class="page-footer__link" href="#"><span>Редакция</span></a><a class="page-footer__link" href="#"><span>Рекламодателям</span></a><a class="page-footer__link" href="#"><span>Правила использования материалов сайта</span></a></div>
            <p class="page-footer__text">Интернет-портал "Кубанские Новости" (18+) зарегистрирован Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 31 декабря 2015 г. Номер свидетельства Эл №ФС77-64381. Учредитель - ООО "ГИК "Кубанские Новости" (350000, Краснодар, ул. Пашковская, 2). Главный редактор – Хомутов Е.В.</p>
        </div>
        <div class="page-footer__down">
            <div class="page-footer__left"><svg>
                    <use xlink:href="img/sprite.svg#svg--age"></use>
                </svg><span class="page-footer__text">Кубанские Новости, 2015-2020. Для пользователей старше 18 лет</span></div>
            <div class="page-footer__right">
                <div class="copyright"><a class="copyright__link" href="#">Создание сайта</a><span class="copyright__text">— Very Good</span></div>
            </div>
        </div>
    </div>
</section>