<section class="page-header">
    <div class="overlay"></div>
    <div class="search-for-site" data-search-site>
        <div class="search-for-site__container">
            <form class="search-for-site__form" action="">
                <div class="search-for-site__wrap">
                    <input type="text" placeholder="Поиск по сайту"/>
                    <button class="search-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#svg--icon-search"></use>
                        </svg>
                    </button>
                </div>
            </form>        
            <div class="close" data-close-search></div>
        </div>
    </div>
    <div class="container">
        <div class="page-header__wrapper">
            
            <div class="page-header__left">
                <div class="burger">
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                </div><a class="logo" href="#"><img src="img/logo.svg" alt="" /></a>
            </div>
            <div class="page-header__middle">
                <div class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a class="navigation__link" href="#">Все новости</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Власть</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Экономика</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Происшествия</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Спорт</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Культура</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Туризм</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="#">Спецпроекты</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-header__right">
                <div class="new-news new-news--mark">
                    <div class="new-news__wrap-icon">
											<svg>
												<use xlink:href="img/sprite.svg#svg--icons-news24"></use>
											</svg>
										</div>
                </div>
                <div class="search-icon" data-show-search>
									<svg>
                    <use xlink:href="img/sprite.svg#svg--icon-search"></use>
                	</svg>
                </div>
            </div>
        </div>
    </div>
    
</section>