<section class="modal-window" data-city-window>
    <div class="modal-window__overlay">
        <div class="close" data-close-city></div>
        <div class="modal-window__up">
            <h4 class="modal-window__caption">Мой город</h4>
            <input class="search-city" id="filter" type="text" placeholder="Название города" />
        </div>
        <div class="modal-window__content">
            <ul class="city-list" id="items">
                <li class="city-list__item">Абинск</li>
                <li class="city-list__item">Абинск</li>
                <li class="city-list__item">Анапа</li>
                <li class="city-list__item">Анапа</li>
                <li class="city-list__item">Апшеронск</li>
                <li class="city-list__item">Апшеронск</li>
                <li class="city-list__item">Армавир</li>
                <li class="city-list__item">Армавир</li>
                <li class="city-list__item">Белореченск</li>
                <li class="city-list__item">Белореченск</li>
                <li class="city-list__item">Геленджик</li>
                <li class="city-list__item">Геленджик</li>
                <li class="city-list__item">Горячий ключ</li>
                <li class="city-list__item">Горячий ключ</li>
                <li class="city-list__item">Гулькевичи</li>
                <li class="city-list__item">Гулькевичи</li>
                <li class="city-list__item">Ейск</li>
                <li class="city-list__item">Ейск</li>
                <li class="city-list__item">Краснодар</li>
                <li class="city-list__item">Краснодар</li>
                <li class="city-list__item">Абинск</li>
                <li class="city-list__item">Абинск</li>
                <li class="city-list__item">Анапа</li>
                <li class="city-list__item">Анапа</li>
                <li class="city-list__item">Апшеронск</li>
                <li class="city-list__item">Апшеронск</li>
                
            </ul>
        </div>
    </div>
</section>