<div class="modal" id="push">
	<div class="modal__overlay">
		<div class="modal__block push-modal">
			<div class="modal__up">
				<h4 class="modal__caption">Прислать материалы</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="modal__area">
						<p>Волна, как бы это ни казалось парадоксальным, трансформирует экситон. Мишень едва ли квантуема. Лазер немагнитен. Химическое соединение притягивает квантовый взрыв</p>
					</div>
					<form action="" class="form-modal">
						<div class="form-modal__grid">
							<label class="field-block">
								<input type="text" placeholder="&nbsp;">
								<span class="field-block__placeholder">Ваше имя</span>
							</label>
							<label class="field-block">
								<input type="tel" placeholder="&nbsp;">
								<span class="field-block__placeholder">Ваш телефон</span>
							</label>
						</div>
						<label class="field-block">
							<textarea placeholder="&nbsp;"></textarea>
							<span class="field-block__placeholder">Комментарий</span>
						</label>
						<div class="attach-file">
							<label class="download-file attach-file__block">
								<div class="btn-white" type="submit">
									<span class="btn-white__text">Приложить файлы</span>
								</div>
								<input class="filepond" type="file" multiple>
								<div class="attach-file__block"></div>
							</label>
						</div>
						<div class="check">
							<label class="check__wrap">
								<input type="checkbox">
								<span class="check__icon"></span>
							</label>
							<span class="check__text">Я выражаю свое согласие с <a href="#">Политикой конфиденциальности</a> сайта и даю разрешение на обработку своих персональных данных</span>
						</div>
						<button class="block-btn">
							<span class="block-btn__text">Верно</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>