<section class="sidebar">
    <div class="sidebar__container">
        <h3 class="sidebar__title">Новости за 24 часа</h3>
        <div class="sidebar__wrapper">
					{{ mixin.postSidebar('Записаться на прививку от COVID-19 можно в любом регионе России') }}
					{{ mixin.postSidebar('Мошенники обманули мужчину при покупке грузовика на 690 тыс. рублей') }}
					{{ mixin.postSidebar('Директор сельского клуба ответит в суде за фиктивное трудоустройство концертмейстера') }}
					{{ mixin.postSidebar('До 2024 года в Краснодарском крае введут около 18 тысяч гектаров мелиорируемых земель') }}
					{{ mixin.postSidebar('Врач рассказала, на какие болезни указывает неприятный запах изо рта') }}
					<div class="wrap-myad">
						<img src="img/imgad1.jpg" alt="">
					</div>
					{{ mixin.postSidebar('Записаться на прививку от COVID-19 можно в любом регионе России') }}
					{{ mixin.postSidebar('Мошенники обманули мужчину при покупке грузовика на 690 тыс. рублей') }}
					{{ mixin.postSidebar('Директор сельского клуба ответит в суде за фиктивное трудоустройство концертмейстера') }}
					{{ mixin.postSidebar('До 2024 года в Краснодарском крае введут около 18 тысяч гектаров мелиорируемых земель') }}
					{{ mixin.postSidebar('Врач рассказала, на какие болезни указывает неприятный запах изо рта') }}
					<div class="wrap-myad">
						<img src="img/imgad2.jpg" alt="">
					</div>
					{{ mixin.postSidebar('Записаться на прививку от COVID-19 можно в любом регионе России') }}
					{{ mixin.postSidebar('Мошенники обманули мужчину при покупке грузовика на 690 тыс. рублей') }}
					{{ mixin.postSidebar('Директор сельского клуба ответит в суде за фиктивное трудоустройство концертмейстера') }}
					{{ mixin.postSidebar('До 2024 года в Краснодарском крае введут около 18 тысяч гектаров мелиорируемых земель') }}
					{{ mixin.postSidebar('Врач рассказала, на какие болезни указывает неприятный запах изо рта') }}
					<div class="wrap-myad">
						<img src="img/imgad1.jpg" alt="">
					</div>
					{{ mixin.postSidebar('Записаться на прививку от COVID-19 можно в любом регионе России') }}
					{{ mixin.postSidebar('Мошенники обманули мужчину при покупке грузовика на 690 тыс. рублей') }}
					{{ mixin.postSidebar('Директор сельского клуба ответит в суде за фиктивное трудоустройство концертмейстера') }}
					{{ mixin.postSidebar('До 2024 года в Краснодарском крае введут около 18 тысяч гектаров мелиорируемых земель') }}
					{{ mixin.postSidebar('Врач рассказала, на какие болезни указывает неприятный запах изо рта') }}
				</div>
				<a class="btn-link" href="#">
					<span>Все новости</span>
					<svg>
						{# <use xlink:href="img/sprite.svg#sm-arrow"></use> #}
					</svg>
				</a>
    </div>
</section>