<div class="topic">
    <div class="container">
        <div class="row-title">
            <h3 class="title">Темы</h3>
            <div class="topic-wrap-arrows">
                <div class="topic-arrow topic-arrow--prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-slider"></use>
                    </svg>
                </div>
                <div class="topic-arrow topic-arrow--next"><svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-slider"></use>
                    </svg></div>
            </div>
        </div>
        <div class="topic__wrapper">
            <div class="topic-slider swiper-container">
                <div class="topic-slider__wrapper swiper-wrapper">
                    <div class="topic-slider__slide swiper-slide"><a class="topic-slider__block" href="#">
                            <div class="topic-slider__wrap-img">
                                <picture>
                                    <source srcset="img/topic-mob1.webp" type="image/webp" media="(max-width: 576px)" />
                                    <source srcset="img/topic-mob1.jpg" type="image/jpg" media="(max-width: 576px)" />
                                    <source srcset="img/topic1.webp" type="image/webp" /><img src="img/topic1.jpg" alt="" />
                                </picture>
                            </div>
                            <div class="topic-slider__wrap-text">
                                <div class="topic-slider__row">
                                    <h3>Коронавирус</h3><sup>+2</sup>
                                </div>
                            </div>
                        </a></div>
                    <div class="topic-slider__slide swiper-slide"><a class="topic-slider__block" href="#">
                            <div class="topic-slider__wrap-img">
                                <picture>
                                    <source srcset="img/topic-mob2.webp" type="image/webp" media="(max-width: 576px)" />
                                    <source srcset="img/topic-mob2.jpg" type="image/jpg" media="(max-width: 576px)" />
                                    <source srcset="img/topic2.webp" type="image/webp" /><img src="img/topic2.jpg" alt="" />
                                </picture>
                            </div>
                            <div class="topic-slider__wrap-text">
                                <div class="topic-slider__row">
                                    <h3>Курорты Кубани</h3><sup>+17</sup>
                                </div>
                            </div>
                        </a></div>
                    <div class="topic-slider__slide swiper-slide"><a class="topic-slider__block" href="#">
                            <div class="topic-slider__wrap-img">
                                <picture>
                                    <source srcset="img/topic-mob1.webp" type="image/webp" media="(max-width: 576px)" />
                                    <source srcset="img/topic-mob1.jpg" type="image/jpg" media="(max-width: 576px)" />
                                    <source srcset="img/topic3.webp" type="image/webp" /><img src="img/topic3.jpg" alt="" />
                                </picture>
                            </div>
                            <div class="topic-slider__wrap-text">
                                <div class="topic-slider__row">
                                    <h3>Губернаторские программы</h3><sup>+2</sup>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="topic-slider__slide swiper-slide"><a class="topic-slider__block" href="#">
                            <div class="topic-slider__wrap-img">
                                <picture>
                                    <source srcset="img/topic-mob1.webp" type="image/webp" media="(max-width: 576px)" />
                                    <source srcset="img/topic-mob1.jpg" type="image/jpg" media="(max-width: 576px)" />
                                    <source srcset="img/topic3.webp" type="image/webp" /><img src="img/topic3.jpg" alt="" />
                                </picture>
                            </div>
                            <div class="topic-slider__wrap-text">
                                <div class="topic-slider__row">
                                    <h3>Губернаторские программы</h3><sup>+2</sup>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="topic-slider__slide swiper-slide"><a class="topic-slider__block" href="#">
                            <div class="topic-slider__wrap-img">
                                <picture>
                                    <source srcset="img/topic-mob1.webp" type="image/webp" media="(max-width: 576px)" />
                                    <source srcset="img/topic-mob1.jpg" type="image/jpg" media="(max-width: 576px)" />
                                    <source srcset="img/topic3.webp" type="image/webp" /><img src="img/topic3.jpg" alt="" />
                                </picture>
                            </div>
                            <div class="topic-slider__wrap-text">
                                <div class="topic-slider__row">
                                    <h3>Губернаторские программы</h3><sup>+2</sup>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="topic-slider__slide swiper-slide"><a class="topic-slider__block" href="#">
                            <div class="topic-slider__wrap-img">
                                <picture>
                                    <source srcset="img/topic-mob1.webp" type="image/webp" media="(max-width: 576px)" />
                                    <source srcset="img/topic-mob1.jpg" type="image/jpg" media="(max-width: 576px)" />
                                    <source srcset="img/topic3.webp" type="image/webp" /><img src="img/topic3.jpg" alt="" />
                                </picture>
                            </div>
                            <div class="topic-slider__wrap-text">
                                <div class="topic-slider__row">
                                    <h3>Губернаторские программы</h3><sup>+2</sup>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>