.xlg-previe-block,
.lg-previe-block,
.md-previe-block,
// .sm-previe-block,
.wrapper-sm-preview {
	padding: $grid-gap-offset;
	margin-bottom: 20px;

	@media (max-width: 575px) {
		background-color: #fff;
		padding: 0;
		margin-bottom: 5px;

		&:first-child {
			margin-bottom: 10px;
		}
	}

	img {
		width: 100%;
	}
}

.lg-previe-block {
	&:first-child {
		.lg-previe-block__wrap-text {
			h3 {
				font-size: 20px !important;
				line-height: 25px !important;
				font-weight: 500;

				@media (max-width: 575px) {
					font-size: 16px !important;
					line-height: 22px !important;
					font-weight: 400;
				}
			}
		}
	}
}

.lg-previe-block,
.md-previe-block {
	.lg-previe-block__wrap-text,
	.md-previe-block__wrap-text {
		@media (max-width: 1023px) {
			padding-bottom: 0;
		}

		@media (max-width: 575px) {
			padding-bottom: 20px;
		}
	}
}

.xlg-previe-block {
	display: grid;
	position: relative;
	width: 100%;

	@media (max-width: 575px) {
		display: block;
		border-bottom: 1px solid rgba(20, 30, 38, 0.1);
	}

	&::before {
		content: "";
		position: absolute;
		left: 10px;
		top: 0;
		right: 10px;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.12%, #141e26 100%, #000000 100%);

		@media (max-width: 575px) {
			display: none;
		}
	}

	&__wrap-img {
		grid-area: 1/1/2/2;
	}

	&__wrap-text {
		grid-area: 1/1/2/2;
		position: relative;
		z-index: 1;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media (max-width: 575px) {
			// flex-direction: column-reverse;
			padding: 20px;
		}
	}

	&__area {
		h3 {
			font-weight: 600;
			font-size: 40px;
			line-height: 45px;
			color: #ffffff;
			margin-bottom: 18px;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $hover-color-one;
			}
		}

		@media (max-width: 575px) {
			h3 {
				font-weight: 500;
				font-size: 20px;
				line-height: 25px;
				color: #141e26;
				margin-top: 10px;
			}
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.sm-text-info {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.lg-previe-block {
	width: 50%;

	@media (max-width: 575px) {
		width: 100%;
	}

	&__wrap-img {
		position: relative;

		a {
			display: block;
		}
	}

	&__wrap-text {
		padding: 20px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 10px;

		.sm-text-info,
		.sm-category {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__area {
		h3 {
			font-size: 18px;
			line-height: 25px;
			font-weight: normal;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $hover-color-one;
			}
		}
	}
}

.md-previe-block {
	max-width: 33.33%;
	flex-grow: 1;

	@media (max-width: 1600px) {
		max-width: 50%;
	}

	@media (max-width: 575px) {
		max-width: 100%;
		width: 100%;
	}

	&__wrap-text {
		padding: 20px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 10px;

		.sm-text-info,
		.sm-category {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__area {
		h3 {
			font-size: 18px;
			line-height: 25px;
			font-weight: normal;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $hover-color-one;
			}
		}
	}
}

.wrapper-sm-preview {
	max-width: 33.33%;

	@media (max-width: 575px) {
		margin-bottom: 0;
	}

	@media (max-width: 1600px) {
		max-width: 100%;
		width: 100%;
	}

	&__block {
		background-color: #f0f4f7;
		height: 100%;
		padding: 0 20px;
		display: flex;
		flex-direction: column;

		@media (max-width: 575px) {
			margin-bottom: 0;
			background-color: #fff;
		}

		.sm-previe-block {
			flex-grow: 1;

			&:last-child {
				border-bottom: none;

				@media (max-width: 575px) {
					border-bottom: 1px solid rgba($color: #141e26, $alpha: 0.1);
				}
			}
		}
	}

	&--change {
		.wrapper-sm-preview__block {
			background-color: transparent;
			justify-content: space-between;
			padding: 0;

			@media (max-width: 575px) {
				border-top: 1px solid rgba(20, 30, 38, 0.1);
			}

			.sm-previe-block {
				border: none;
				background-color: #f0f4f7;
				padding: 20px;
				margin-bottom: 25px;

				@media (max-width: 575px) {
					border-bottom: 1px solid rgba(20, 30, 38, 0.1);
					background-color: transparent;
					margin-bottom: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@media (max-width: 1600px) {
			max-width: 50%;
			width: 100%;
		}

		@media (max-width: 575px) {
			max-width: 100%;
		}
	}
}

.sm-previe-block {
	padding: 20px 0;
	border-bottom: 1px solid rgba($color: #141e26, $alpha: 0.1);

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 10px;

		.sm-text-info,
		.sm-category {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__area {
		h3 {
			font-size: 18px;
			line-height: 25px;
			font-weight: normal;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $hover-color-one;
			}
		}
	}
}

.xlg-previe-block:last-child .xlg-previe-block__wrap-text,
.lg-previe-block:last-child .lg-previe-block__wrap-text,
.md-previe-block:last-child .md-previe-block__wrap-text,
.sm-previe-block:last-child .sm-previe-block__wrap-text,
.xlg-previe-block:last-child,
.lg-previe-block:last-child,
.md-previe-block:last-child,
.sm-previe-block:last-child {
	@media (max-width: 575px) {
		border: none;
	}
}

.xlg-previe-block__area,
.md-previe-block__area,
.lg-previe-block__area,
.sm-previe-block__area {
	h3 {
		@media (max-width: 767px) {
			font-size: 16px !important;
			line-height: 22px !important;
		}
	}
}

.change-block {
	@media (max-width: 575px) {
		margin-bottom: 0;
		border-bottom: 1px solid rgba($color: #141e26, $alpha: 0.1);

		&:last-child {
			.lg-previe-block__wrap-text {
				border-bottom: none;
			}
		}

		.md-previe-block__wrap-img,
		.lg-previe-block__wrap-img {
			display: none;
		}

		.xlg-previe-block__wrap-text {
			border-bottom: 1px solid rgba($color: #141e26, $alpha: 0.1);
			padding: 20px 0;
			margin: 0 20px;
		}

		.lg-previe-block__wrap-text {
			padding: 20px 0;
			margin: 0 20px;
		}

		.lg-previe-block__wrap-text,
		.md-previe-block__wrap-text,
		.sm-previe-block__wrap-text {
			display: flex;
			flex-direction: column-reverse;
		}

		.xlg-previe-block__wrap-text {
			flex-direction: column;
		}

		.xlg-previe-block__area,
		.md-previe-block__area,
		.lg-previe-block__area,
		.sm-previe-block__area {
			h3 {
				margin-bottom: 10px;
				margin-top: 0;
			}
		}

		.xlg-previe-block__row,
		.md-previe-block__row,
		.sm-previe-block__row,
		.lg-previe-block__row {
			margin-bottom: 0;
		}

		.sm-category {
			display: none;
		}
	}
}

.change-block-two {
	.lg-previe-block__wrap-text,
	.md-previe-block__wrap-text,
	.sm-previe-block__wrap-text {
		display: flex;
		flex-direction: column-reverse;
	}

	.xlg-previe-block__area,
	.md-previe-block__area,
	.lg-previe-block__area,
	.sm-previe-block__area {
		h3 {
			margin-bottom: 10px;
			margin-top: 0;
		}
	}

	.xlg-previe-block__row,
	.md-previe-block__row,
	.sm-previe-block__row,
	.lg-previe-block__row {
		margin-bottom: 0;
	}
}

.main-block {
	@media (max-width: 575px) {
		h3 {
			font-weight: 500;
			font-size: 20px;
			line-height: 25px;
		}

		.lg-previe-block__wrap-text,
		.md-previe-block__wrap-text,
		.sm-previe-block__wrap-text {
			display: flex;
			flex-direction: column-reverse;
		}

		.xlg-previe-block__row,
		.md-previe-block__row,
		.sm-previe-block__row,
		.lg-previe-block__row {
			margin-bottom: 0;
		}

		.xlg-previe-block__area,
		.md-previe-block__area,
		.lg-previe-block__area,
		.sm-previe-block__area {
			h3 {
				margin-bottom: 10px;
				margin-top: 0;
			}
		}
	}
}

.sidebar {
	overflow: hidden;
	align-items: flex-start;

	box-shadow: 0px 8px 32px rgba(61, 61, 61, 0.2);
	height: 100%;

	@media (max-width: 1023px) {
		position: fixed;
		top: 0;
		left: 0;
		max-width: 330px;
		background-color: #fff;
		display: none;
	}

	&__container {
		padding-top: 15px;
		height: 100%;
		overflow: auto;
		margin-right: -17px;
	}

	&__wrapper {
		padding: 0 25px;

		@media (max-width: 1400px) {
			padding: 0 20px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		display: block;
		margin-bottom: 15px;
		padding: 0 25px;

		@media (max-width: 1400px) {
			padding: 0 20px;
		}
	}

	&__block {
		padding: 20px 0;
		border-bottom: 1px solid #eef1f1;
		display: block;

		&:first-child {
			padding-top: 0;
		}
	}

	&__caption {
		font-size: 16px;
		line-height: 20px;
		display: block;
		font-weight: 400;
		margin-bottom: 10px;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: #e41113;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		.sm-text-info {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.topic {
	background-color: rgba(238, 241, 241, 0.5);
	padding: 40px 0;
	min-width: 0;
	margin-bottom: 40px;
	overflow: hidden;

	@media (max-width: 575px) {
		padding: 20px 0;
		margin-bottom: 0;
	}

	.container {
		@media (max-width: 767px) {
			padding: 0 10px;
		}
	}
}

.topic-slider {
	margin: 0 -10px;

	@media (max-width: 575px) {
		margin: 0 -2.5px;
	}

	&__wrapper {
		min-width: 0;
	}

	&__slide {
		padding: 0 10px;
		min-width: 0;
		height: auto;

		@media (max-width: 575px) {
			padding: 0 2.5px;
			width: auto;
		}
	}

	&__block {
		@media (max-width: 575px) {
			height: 100%;
			display: grid;
			border-radius: 2px;
			overflow: hidden;
		}
	}

	&__wrap-img {
		@media (max-width: 575px) {
			height: 100%;
		}

		picture {
			@media (max-width: 575px) {
				height: 100%;
			}
		}

		img {
			width: 100%;
			object-fit: cover;
			object-position: center;

			@media (max-width: 575px) {
				height: 100%;
			}
		}

		@media (max-width: 575px) {
			grid-area: 1/1/2/2;
		}
	}

	&__wrap-text {
		padding: 20px;

		@media (max-width: 575px) {
			grid-area: 1/1/2/2;
			position: relative;
			z-index: 10;
			display: flex;
			align-items: center;
			padding: 14px;
		}

		h3 {
			font-weight: 600;
			font-size: 20px;
			line-height: 25px;
			color: #141e26;
			display: block;
			max-width: 165px;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $hover-color-one;
			}

			@media (max-width: 575px) {
				color: #fff;
				font-size: 14px;
				line-height: 14px;
				max-width: 120px;
			}
		}

		sup {
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			text-transform: uppercase;
			color: #e41113;
			margin-left: 10px;

			@media (max-width: 575px) {
				color: #fff;
			}
		}
	}

	&__row {
		display: inline-flex;
		justify-content: flex-start;
		align-items: baseline;
	}
}

.wrap-imgb {
	margin-bottom: 20px;

	@media (max-width: 575px) {
		display: none;
	}

	&--md {
		width: 33.33%;
		padding: 0 10px;

		@media (max-width: 1600px) {
			width: 50%;
		}

		@media (max-width: 575px) {
			width: 100%;
		}
	}

	img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.city {
	cursor: pointer;

	&__link {
		display: inline-flex;
		align-items: center;

		* {
			pointer-events: none;
		}

		svg {
			max-width: 30px;
			max-height: 30px;
			fill: #141e26;
			stroke: #141e26;
			flex-shrink: 0;
			margin-right: 10px;
		}

		span {
			color: #1c64d0;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 22px;
		}
	}
}

.close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;

	&:hover {
		&::before,
		&::after {
			background-color: $hover-color-one;
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: calc(50% - 1px);
		width: 2px;
		top: -2px;
		bottom: -2px;
		background-color: #000;
		transition: all 0.3s ease-in-out;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.accordion-up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	svg {
		width: 12px;
		height: 14px;
		stroke: #141e26;
		transform: rotate(90deg);
		margin-top: 3px;
		transition: all 0.3s ease-in-out;
	}
}

.accordion-drop-down {
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	max-height: 0;
}

.search-for-site {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #fff;
	z-index: 100;
	transition: all 0.3s ease-in-out;
	transform: translateY(-100%);

	&--open {
		transform: translateY(0);
	}

	&__container {
		background-color: #fff;
		padding: 20px 30px;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;

		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	&__form {
		flex-grow: 1;
	}

	&__wrap {
		display: flex;
		flex-grow: 1;
		background-color: #fff;
	}

	input {
		flex-grow: 1;
		font-size: 24px;
		line-height: 29px;
		color: #141e26;
		margin-right: 25px;

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 19px;
		}

		&::placeholder {
			font-size: 24px;
			line-height: 29px;
			color: #a09f9f;

			@media (max-width: 767px) {
				font-size: 16px;
				line-height: 19px;
			}
		}
	}

	.close {
		position: relative;
		right: auto;
		top: auto;
		margin-left: 25px;
		flex-shrink: 0;
	}
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba($color: #141e26, $alpha: 0.15);
	display: none;
	z-index: 90;
}

.block-portal {
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 12px 10px;
	display: block;
	display: flex;
	transition: all 0.3s ease-in-out;
	align-items: center;

	@media (max-width: 767px) {
		padding: 12px 8px;
	}

	&:hover {
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
	}

	img {
		flex-shrink: 0;
		margin-right: 5px;

		&:nth-child(2) {
			margin-top: 1px;
		}
	}

	span {
		color: #a09f9f;
		font-size: 15px;
		line-height: 18px;
	}
}

.btn-show-more {
	display: block;
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba($color: #1c64d0, $alpha: 0.2);
	border-radius: 4px;
	margin-bottom: 15px;
	transition: all 0.3s ease-in-out;
	padding: 18px;
	cursor: pointer;

	&:hover {
		background-color: #1c64d0;

		span {
			color: #fff;
		}
	}

	span {
		font-weight: 600;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		color: #1c64d0;
		text-align: center;
		transition: all 0.3s ease-in-out;
		pointer-events: none;
	}
	&--change {
		padding: 23px 18px;
		margin-bottom: 30px;
		@media (max-width: 1023px) {
			padding: 20.5px 18px;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;

	@media (max-width: 575px) {
		margin-bottom: 20px;
	}

	&__btn {
		padding: 18px;
		justify-content: center;
		align-items: center;
		display: flex;
		border: 1px solid #1c64d0;
		border-radius: 4px;
		margin-left: 20px;
		flex-grow: 1;
		transition: all 0.3s ease-in-out;

		@media (max-width: 1450px) {
			margin-left: 10px;
			padding: 18px 10px;
			flex-grow: 0;
		}

		@media (max-width: 1400px) {
			padding: 15px;
		}

		&:hover {
			background-color: #1c64d0;

			svg {
				stroke: #fff;
			}

			span {
				color: #fff;
			}
		}

		&:first-child {
			margin-right: 20px;
			margin-left: 0;

			@media (max-width: 1450px) {
				margin-right: 10px;
			}

			svg {
				transform: rotate(180deg);
				margin-right: 20px;
				margin-left: 0;
			}
		}

		svg {
			width: 14px;
			height: 14px;
			stroke: #1c64d0;
			stroke-width: 2px;
			margin-left: 20px;
			transition: all 0.3s ease-in-out;

			@media (max-width: 1700px) {
				margin: 0 !important;
			}
		}

		span {
			font-weight: 600;
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
			color: #1c64d0;
			transition: all 0.3s ease-in-out;

			@media (max-width: 1700px) {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
		margin: 0 -2.5px;
	}

	&__item {
		padding: 0 2.5px;

		@media (max-width: 767px) {
			display: none;

			&:nth-child(1) {
				display: block;
			}

			&:nth-child(2) {
				display: block;
			}

			&:nth-child(9) {
				display: block;
			}

			&:nth-child(10) {
				display: block;
			}
		}

		&--tb-none {
			@media (max-width: 1830px) {
				display: none;
			}
		}

		&--show {
			display: block;
		}
	}

	&__text {
		display: flex;
		width: 50px;
		height: 50px;
		border: 1px solid transparent;
		border-radius: 4px;
		transition: all 0.3s ease-in-out;
		font-weight: 600;
		font-size: 14px;
		line-height: 14px;
		color: #141e26;
		align-items: center;
		justify-content: center;

		@media (max-width: 575px) {
			width: 46px;
			height: 46px;
		}

		&:hover {
			color: #1c64d0;
			border-color: #1c64d0;
		}

		&--active {
			background-color: rgba($color: #1c64d0, $alpha: 0.1);
			border-color: rgba($color: #1c64d0, $alpha: 0.1);

			&:hover {
				color: #141e26;
				border-color: rgba($color: #1c64d0, $alpha: 0.1);
			}
		}
	}
}

.inner-offset {
	padding-top: 27px;
}

.block-calendar {
	position: relative;
	margin-top: 31px;
	margin-left: 20px;

	@media (max-width: 1400px) {
		margin-top: 21px;
	}

	@media (max-width: 575px) {
		margin-top: 0;
	}

	&:hover {
		@media (min-width: 1024px) {
			.drop-down-calendar {
				transform: translateY(0);
				opacity: 1;
				pointer-events: unset;
			}
		}
	}

	&__wrap {
		width: 40px;
		height: 40px;
		background-color: #f0f4f7;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease-in-out;
		cursor: pointer;

		@media (max-width: 767px) {
			width: 30px;
			height: 30px;
			background-color: transparent;
		}

		svg {
			width: 24px;
			height: 24px;
			stroke: #141e26;
			fill: #141e26;
			transition: all 0.3s ease-in-out;
			pointer-events: none;
		}

		&:hover {
			@media (min-width: 768px) {
				background-color: #1c64d0;
			}

			svg {
				@media (min-width: 768px) {
					stroke: #fff;
					fill: #fff;
				}
			}
		}
	}
}

.show-calendar {
	background-color: #1c64d0;

	svg {
		stroke: #fff;
		fill: #fff;
	}
}

.show-calendar + .drop-down-calendar {
	transform: translateY(0);
	opacity: 1;
	pointer-events: unset;
}

.drop-down-calendar {
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.1);
	min-width: 300px;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	transform: translateY(20px);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;

	input {
		padding: 8px;
		background-color: #eef1f1;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		color: #141e26;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		cursor: default !important;

		&::placeholder {
			font-size: 16px;
			line-height: 19px;
			color: rgba($color: #141e26, $alpha: 0.7);
		}
	}

	&__up {
		margin-bottom: 15px;

		.flatpickr-calendar {
			width: 100%;
			box-shadow: none;
			padding: 0 15px;
		}

		.flatpickr-months {
			padding: 0 !important;
			padding-bottom: 18px !important;
		}
	}

	&__down {
		padding: 0 15px 15px;

		span {
			display: flex;
			background-color: #1c64d0;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #ffffff;
			transition: all 0.3s ease-in-out;
			padding: 15px;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 2px;

			&:hover {
				background-color: #fff;
				color: #1c64d0;
				border-color: #1c64d0;
			}
		}
	}
}

body {
	.flatpickr-calendar {
		// width: 100%;

		border-radius: 0;

		.cur-month {
			font-weight: 600;
			font-size: 22px;
			line-height: 28px;
			text-transform: lowercase;

			@media (max-width: 767px) {
				font-size: 18px;
				line-height: 24px;
			}
		}

		.flatpickr-weekdays {
			display: none;
		}

		.numInputWrapper {
			.numInput.cur-year {
				font-weight: 600;
				font-size: 22px;
				line-height: 28px;
				max-width: 70px;
				margin-bottom: 0;

				@media (max-width: 767px) {
					font-size: 18px;
					line-height: 24px;
				}
			}

			.arrowUp,
			.arrowDown {
				display: none;
			}

			&:hover {
				background-color: transparent;

				.numInput.cur-year {
					background-color: transparent;
				}
			}
		}

		.flatpickr-months {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 18px 15px;
		}

		.flatpickr-month {
			display: flex;
			justify-content: center;
		}

		.flatpickr-prev-month,
		.flatpickr-next-month {
			padding: 0;
			height: auto;
			position: static;
			cursor: pointer;

			&:hover {
				svg {
					stroke: #003b83;
				}
			}

			svg {
				width: 18px;
				height: 18px;
				stroke: #0061d9;
				transition: all 0.3s ease-in-out;
			}
		}

		.flatpickr-prev-month {
			transform: rotate(90deg);
		}

		.flatpickr-next-month {
			transform: rotate(-90deg);
		}

		.flatpickr-current-month {
			padding: 0;
			flex-grow: 1;
			display: flex;
			height: auto;
			width: auto;
			padding: 0 20px;
			justify-content: center;
			position: static;

			span.cur-month {
				position: static;
			}
		}

		.flatpickr-innerContainer {
			width: 100%;
		}

		.flatpickr-rContainer {
			width: 100%;
		}

		.flatpickr-days {
			width: 100%;
			text-align: center;
		}

		.dayContainer {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			// border: 1px solid rgba($color: #D9D9DE, $alpha: 0.5);
			max-width: inherit;
			min-width: inherit;
			width: 100%;
			padding: 0 1px 1px 0;
		}

		.flatpickr-day {
			border: 1px solid rgba($color: #d9d9de, $alpha: 1);
			border-radius: 0;
			margin-right: -1px;
			margin-bottom: -1px;
			width: auto;
			max-width: inherit;
			color: #76767a;
			height: 38px;
			line-height: 38px;

			@media (max-width: 767px) {
				height: 43px;
				line-height: 43px;
			}

			&:hover {
				background-color: #0061d9;
				color: #fff;
			}
		}

		.flatpickr-day.nextMonthDay,
		.flatpickr-day.prevMonthDay {
			border: none;
			color: #76767a;

			&:hover {
				background-color: transparent;
				color: #76767a;
			}
		}

		.flatpickr-day.selected {
			background-color: #0061d9;
			color: #fff;
		}

		.flatpickr-day.today {
			background-color: #f5f5f7;
			color: #0050b2;

			&:hover {
				background-color: #f5f5f7;
				color: #0050b2;
				border: 1px solid rgba($color: #d9d9de, $alpha: 1);
			}
		}

		.flatpickr-day.today.selected.endRange {
			background-color: #0061d9;
			color: #fff;
		}

		.startRange,
		.endRange {
			border-radius: 0 !important;
			border: 1px solid #0061d9;
			box-shadow: none !important;
		}

		.inRange {
			box-shadow: none;
			background-color: #0061d9;
			color: #fff;
			border: 1px solid #0061d9;
		}
	}

	.rangeMode .flatpickr-day {
		margin-top: 0;
	}

	.flatpickr-day.today.inRange {
		box-shadow: none;
		background-color: #0061d9;
		color: #fff;
		border: 1px solid #0061d9;

		&:hover {
			box-shadow: none;
			background-color: #0061d9;
			color: #fff;
			border: 1px solid #0061d9;
		}
	}
}

.post-info {
	display: grid;
	padding: 0 10px;
	margin-bottom: 25px;
	@media (max-width: 575px) {
		margin: 0 -20px 0;
	}

	picture {
		grid-area: 1/1/2/2;

		img {
			width: 100%;
			min-height: 240px;
			object-fit: cover;
			object-position: right;
			@media (max-width: 575px) {
				min-height: 125px;
			}
		}
	}

	&__wrap-text {
		grid-area: 1/1/2/2;
		position: relative;
		z-index: 1;
		display: flex;
		align-self: end;
		align-items: flex-end;
		justify-content: space-between;
		padding: 34px 30px;
		@media (max-width: 1200px) {
			padding: 23px 30px;
		}

		.block-calendar {
			margin: 0;

			&__wrap {
				background-color: rgba(255, 255, 255, 0.2);
				@media (max-width: 575px) {
					background-color: transparent;
				}

				svg {
					stroke: #fff;
					fill: #fff;
				}
			}

			&:hover {
				@media (min-width: 768px) {
					.block-calendar__wrap:hover {
						background-color: #1c64d0;
					}
				}
			}
		}
	}

	&__row {
		display: flex;
		align-items: center;

		.icon-more-info {
			margin-top: 6px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 45px;
		color: #ffffff;
		margin-right: 22px;
		@media (max-width: 1200px) {
			font-size: 30px;
			line-height: 36px;
		}
		@media (max-width: 575px) {
			font-size: 26px;
			line-height: normal;
		}
	}
}

.icon-more-info {
	position: relative;

	&:hover {
		span {
			opacity: 1;
			transform: translateX(0);
		}
	}

	svg {
		width: 25px;
		height: 25px;
		cursor: pointer;
	}

	span {
		position: absolute;
		left: 100%;
		margin-left: 20px;
		top: -10px;
		min-width: 200px;
		padding: 7px 15px 10px;
		background-color: #fff;
		border-radius: 5px;
		z-index: 1;
		box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.3);
		transition: all 0.3s ease-in-out;
		opacity: 0;
		pointer-events: none;
		transform: translateX(10px);

		&::before {
			content: "";
			position: absolute;
			left: -10px;
			top: 12px;
			background-color: #fff;
			width: 20px;
			height: 20px;
			transform: rotate(45deg);
		}
	}
}

.block-info {
	background: #f0f4f7;
	padding: 50px 35px 55px;
	display: flex;
	align-items: flex-start;
	margin-bottom: -1px;
	position: relative;
	z-index: 1;
	@media (max-width: 575px) {
		display: none;
	}

	svg {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		margin-right: 25px;
		margin-top: 3px;
	}

	span {
		font-size: 18px;
		line-height: 30px;
		color: #141e26;
	}
}

.attach-file {
	overflow: hidden;
	margin-bottom: 20px;

	&__block {
		display: block;
	}

	.btn-white {
		padding: 0;
		&__text {
			font-weight: 600;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #1c64d0;
			cursor: pointer;
		}
	}

	.filepond {
		flex-grow: 1;
		.filepond--drop-label {
			margin-top: 9px;

			label {
				font-size: 12px;
				line-height: 16px;
				color: #141e26;
				opacity: 0.5;
			}
		}

		input {
			display: none;
		}

		.filepond--list-scroller {
			transform: none !important;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.filepond--item {
			position: relative;
			padding: 7px 32px 4px 0;
			transform: none !important;
			height: auto !important;
		}

		.filepond--label-action {
			display: none;
		}

		fieldset {
			min-inline-size: inherit;
			display: flex;
		}

		.filepond--file-wrapper {
			&:hover {
				.filepond--action-remove-item {
					&::before,
					&::after {
						background-color: #003b83;
					}
				}
			}
		}

		.filepond--file {
			div,
			button {
				display: none;
			}

			.filepond--action-remove-item {
				display: block;
				width: 18px;
				height: 18px;
				background-color: transparent;
				cursor: pointer;
				transform: translateY(6px) !important;

				@media (max-width: 767px) {
					transform: translateY(4px) !important;
				}

				&::before {
					content: "";
					position: absolute;
					left: calc(50% - 1px);
					top: 0;
					bottom: 0;
					background-color: #0050b2;
					width: 2px;
					transform: rotate(45deg);
					transition: all 0.3s ease-in-out;
				}

				&::after {
					content: "";
					position: absolute;
					left: calc(50% - 1px);
					top: 0;
					bottom: 0;
					background-color: #0050b2;
					width: 2px;
					transform: rotate(-45deg);
					transition: all 0.3s ease-in-out;
				}

				svg {
					display: none;
				}

				span {
					display: none;
				}
			}
		}

		legend {
			font-size: 14px;
			line-height: 22px;
			color: rgba($color: #000000, $alpha: 0.5);
			float: left;
			margin-right: 15px;

			@media (max-width: 767px) {
				font-size: 16px;
				line-height: 24px;
			}
		}

		.filepond--assistant {
			display: none !important;
		}
		.filepond--file {
			transform: translateY(-3px);
		}
	}
}

.check {
	display: flex;
	margin-bottom: 26px;
	&__wrap {
		flex-shrink: 0;
		margin-right: 20px;
	}
	input {
		display: none;
	}
	&__icon {
		width: 25px;
		height: 25px;
		border-radius: 2px;
		border: 1px solid #1c64d0;
		position: relative;
		display: block;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&::before {
			content: "";
			width: 13px;
			height: 13px;
			position: absolute;
			left: calc(50% - 6.5px);
			top: calc(50% - 6.5px);
			background-image: url(../img/svg/check.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}
	}
	&__text {
		font-size: 12px;
		line-height: 16px;
		color: rgba(20, 30, 38, 0.7);
		a {
			font-size: 12px;
			line-height: 16px;
			color: #1c64d0;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $hover-color-one;
			}
		}
	}
}

.check input:checked + .check__icon {
	background-color: #1c64d0;
	&::before {
		opacity: 1;
	}
}

.block-btn {
	width: 100%;
	background-color: #1c64d0;
	border-radius: 2px;
	white-space: inherit;
	display: flex;
	justify-content: center;
	border: 1px solid #1c64d0;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	padding: 12.5px 20px;
	&:hover {
		background-color: transparent;
		span {
			color: #1c64d0;
		}
	}
	&__text {
		white-space: inherit;
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #ffffff;
		transition: all 0.3s ease-in-out;
	}
}
